<ul class="list-group">
  <li *ngFor="let article of articles; let i = index"
      class="list-group-item d-flex justify-content-between align-items-center">{{article?.title}}
    <button class="btn btn-danger btn-sm" *ngIf="!items[i]" (click)="items[i] = true">Delete</button>
    <div *ngIf="items[i]" class="d-flex align-items-center">
      <span class="me-1">are you sure?</span>
      <div class="d-flex">
        <button class="btn btn-danger btn-sm me-1" (click)="deleteArticle(i)">yes</button>
        <button class="btn btn-secondary btn-sm" (click)="items[i] = false">no</button>
      </div>
    </div>
  </li>
</ul>
